.header{
    height: 60px;
    display:flex;
    align-self: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 100;;

}

.header_logo{
   width: 100px;
   object-fit: contain;
   margin: 0 20px;
  
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header_searchInPut{
    border: none;
    height: 14px;
    padding: 10px;
    width: 100%;
}

.header_searchIcon{
    background-color: orange;
    height: 22px;
    padding: 5px;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 11px;
}

.header_option{
    display: flex;
    color: white;
    flex-direction: column;
    margin-left:10px;
    margin-right: 10px;
}

.header_optionlineOne{
    font-size: 10px;
}

.header_optionlineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket{
    display: flex;
    align-items: center;
    color: white;
    /* margin-top: -15px; */
    margin-right: 14px;
}